.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--font-mono);
}

.Home__heading {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.Home__subheading {
  font-size: 2.75rem;
  margin: 0.5em 0 0;
  text-align: center;
}

.Home__footer {
  position: absolute;
  display: flex;
  padding: 1rem;
  align-items: flex-end;
  justify-content: space-between;
  left: 0;
  right: 0;
  bottom: 0;
}

.Home__demo,
.Home__social {
  font-size: 1.25rem;
}

@media (max-width: 500px) {
  .Home__heading {
    font-size: 2.5rem;
  }

  .Home__subheading {
    font-size: 1.5rem;
  }

  .Home__footer {
    display: block;
    text-align: center;
  }

  .Home__social,
  .Home__demo {
    font-size: 1rem;
  }
}
