:root {
  --primary-100: #ebd3f7;
  --primary-300: #c374ea;
  --primary-500: #a934e4;
  --primary-700: #7d13b3;
  --font-mono: 'SF Mono', 'Menlo',
    'Courier New', monospace;
}

html {
  font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,
    BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo,
    Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3 {
  margin: 0.5em 0;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: var(--primary-500);
}

a:visited,
a:hover,
a:focus {
  color: var(--primary-700);
}
